<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Images</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/table.css"/>
</head>
<body>
<table class="table">
    <caption class="caption">Uploaded Images</caption>
    <tr class="table_header">
        {% for header in headings %}
            <th class="table_cell">{{ header }}</th>
        {% endfor %}
    </tr>
    {% for row in data %}
        <tr class="table_row">
            {% for cell in row %}
                <td class="table_cell">{{ cell }}</td>
            {% endfor %}
            <td>
                <a href="/delete/{{ row[ 0 ] }}" class="btn btn-outline-dark">
                    <button>Delete</button>
                </a>
            </td>
        </tr>
    {% endfor %}
</table>
</body>
</html>