<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../static/mystyle.css" />
  </head>
  <body>
    <div>
      <div class="buttonRow">
        <input type="submit" value="Sign out" class="signoutBtn"
      </div>
      <div class="container">
        <form class="form" action="index.html" method="post">
          <h2>Upload Images</h2>
          <label for="Caption">Caption</label>
          <input type"text" placeholder="Write a caption" /><br />
          <input type="file" /><br />
          <input type="submit" value="Upload" class="uploadBtn" />
        </form>
      </div>
      <div>
        <table
          cellspacing="0"
          cellpadding="0"
          width="100%"
          height="100%"
        ></table>
      </div>
    </div>
  </body>
</html>
